# Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
local.properties

# Android
.externalNativeBuild

# IDEA
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
captures
